.header {
}

.header__top {
  justify-content: space-between;
  align-items: center;
  padding: rem(24) 0;
}

.logo {
  max-width: rem(202);
  max-width: clamp(rem(130), 16.42vw, rem(202));
  max-height: rem(32);

  img {
    @include img(contain); // mixin for img
  }
}

.logo__text {
  font-family: $fontMain;
  max-width: rem(300);
  margin-left: clamp(rem(20), 2.03vw, rem(25));
  font-weight: 400;
  font-size: rem(11);
  line-height: 158%;
  color: #8f9090;

  @media (max-width: 1000px) {
    display: none;
  }
}

.header__info {
  gap: rem(32);
  align-items: center;

  &-feedback {
    display: flex;
    align-items: center;

    &::before {
      content: " ";
      display: block;
      background-image: url("/main/img/icon/email.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: rem(15.2);
      height: rem(12.2);
      margin-right: rem(7);
      margin-top: rem(2);
    }
  }

  &-feedback,
  &-language {
    font-weight: 400;
    font-size: rem(14);
    line-height: 158%;
    color: #003154;
    cursor: pointer;

    @media (max-width: 600px) {
      display: none;
    }
  }
}

hr {
  border: none;
  background-color: #eaeaea;
  color: #eaeaea;
  height: 0.8px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 600px) {
    display: none;
  }
}

.header__bottom {
  padding: rem(16) 0;
}

.header__menu {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.header__list {
  justify-content: space-between;
  gap: rem(10);

  li {
    a {
      display: flex;
      color: $colorLightGrey;
      font-size: clamp(rem(14), 1.22vw, rem(15));
      font-weight: 400;
      font-size: rem(15);
      line-height: 148%;
      white-space: nowrap;

      @media (max-width: 1000px) {
        background-color: #f7f7f8;
        padding: rem(8) rem(12);
        border-radius: rem(4);
        -webkit-border-radius: rem(4);
        -moz-border-radius: rem(4);
        -ms-border-radius: rem(4);
        -o-border-radius: rem(4);
      }
    }
  }
}

.form__search {
  align-items: center;
  padding: rem(2) 0;
}

.header__search-input {
  width: 0;
  font-weight: 400;
  font-size: rem(14);
  line-height: 158%;
  color: #003154;
  cursor: pointer;
  max-width: rem(150);
}

.header__search-btn {
  background-image: url("/main/img/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(18);
  height: rem(18);
  flex-shrink: 0;
  align-self: flex-end;

  @media (max-width: 600px) {
    align-self: center;
  }
}

.phone__menu {
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}

.phone__open {
  width: rem(40);
  height: rem(30);
  position: relative;
  cursor: pointer;

  span {
    background: #1e1e1e;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    height: rem(4);
    left: 0;
    position: absolute;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: rem(13);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }

  @media (max-width: 345px) {
    width: rem(20);
    height: rem(20);

    span {
      height: 2px;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: rem(9);
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
}

.phone__menu-nav {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.3s;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      padding: 5px 0;
    }
  }
}

.phone__close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2px;
  right: 15px;

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    fill: none;
    stroke: #000000;
  }
}

/*------------------ADD CLASS JS FOR OPEN MENU------------------*/
.js-open__menu {
  width: 100%;
}
/*------------------ADD CLASS JS FOR CLOSE MENU------------------*/
.js-close__menu {
  width: 0;
}

/*------------------ADD CLASS JS FOR CLOSE MENU------------------*/
.js-search__open {
  width: 100%;
  padding: 0 rem(10) 0 0;
}
