@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  font-family: "Golos";
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Golos";
  src: url("../fonts/golos/Golos-Text_Bold.woff2") format("woff2"), url("../fonts/golos/Golos-Text_Bold.woff") format("woff"), url("../fonts/golos/Golos-Text_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("../fonts/golos/Golos-Text_DemiBold.woff2") format("woff2"), url("../fonts/golos/Golos-Text_DemiBold.woff") format("woff"), url("../fonts/golos/Golos-Text_DemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("../fonts/golos/Golos-Text_Regular.woff2") format("woff2"), url("../fonts/golos/Golos-Text_Regular.woff") format("woff"), url("../fonts/golos/Golos-Text_Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@media (min-width: 1441px) {
  html {
    font-size: 1.1111111111vw;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 5vw;
  }
}

.d-fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-fl-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.d-fl-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d-fl-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-fl-wrap--reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

/*------------------ОБОЛОЧКА------------------*/
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

[class*=__container] {
  width: 100%;
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
@media (min-width: 1441px) {
  [class*=__container] {
    width: 127rem;
    max-width: 100%;
    padding: 0 7.5rem;
  }
}

/*------------------ОБОЛОЧКА------------------*/
/*------------------HEADER------------------*/
.header__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

.logo {
  max-width: 12.625rem;
  max-width: clamp(8.125rem, 16.42vw, 12.625rem);
  max-height: 2rem;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo__text {
  font-family: "Golos";
  max-width: 18.75rem;
  margin-left: clamp(1.25rem, 2.03vw, 1.5625rem);
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 158%;
  color: #8f9090;
}
@media (max-width: 1000px) {
  .logo__text {
    display: none;
  }
}

.header__info {
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__info-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__info-feedback::before {
  content: " ";
  display: block;
  background-image: url("/main/img/icon/email.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 0.95rem;
  height: 0.7625rem;
  margin-right: 0.4375rem;
  margin-top: 0.125rem;
}
.header__info-feedback, .header__info-language {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 158%;
  color: #003154;
  cursor: pointer;
}
@media (max-width: 600px) {
  .header__info-feedback, .header__info-language {
    display: none;
  }
}

hr {
  border: none;
  background-color: #eaeaea;
  color: #eaeaea;
  height: 0.8px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  hr {
    display: none;
  }
}

.header__bottom {
  padding: 1rem 0;
}

.header__menu {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.header__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
.header__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #404040;
  font-size: clamp(0.875rem, 1.22vw, 0.9375rem);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 148%;
  white-space: nowrap;
}
@media (max-width: 1000px) {
  .header__list li a {
    background-color: #f7f7f8;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
  }
}

.form__search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.125rem 0;
}

.header__search-input {
  width: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 158%;
  color: #003154;
  cursor: pointer;
  max-width: 9.375rem;
}

.header__search-btn {
  background-image: url("/main/img/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1.125rem;
  height: 1.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 600px) {
  .header__search-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.phone__menu {
  display: none;
}
@media (max-width: 600px) {
  .phone__menu {
    display: block;
  }
}

.phone__open {
  width: 2.5rem;
  height: 1.875rem;
  position: relative;
  cursor: pointer;
}
.phone__open span {
  background: #1e1e1e;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  height: 0.25rem;
  left: 0;
  position: absolute;
  width: 100%;
}
.phone__open span:nth-child(1) {
  top: 0;
}
.phone__open span:nth-child(2) {
  top: 0.8125rem;
}
.phone__open span:nth-child(3) {
  bottom: 0;
}
@media (max-width: 345px) {
  .phone__open {
    width: 1.25rem;
    height: 1.25rem;
  }
  .phone__open span {
    height: 2px;
  }
  .phone__open span:nth-child(1) {
    top: 0;
  }
  .phone__open span:nth-child(2) {
    top: 0.5625rem;
  }
  .phone__open span:nth-child(3) {
    bottom: 0;
  }
}

.phone__menu-nav {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}
.phone__menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.phone__menu-nav ul li {
  padding: 5px 0;
}

.phone__close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2px;
  right: 15px;
}
.phone__close svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  fill: none;
  stroke: #000000;
}

/*------------------ADD CLASS JS FOR OPEN MENU------------------*/
.js-open__menu {
  width: 100%;
}

/*------------------ADD CLASS JS FOR CLOSE MENU------------------*/
.js-close__menu {
  width: 0;
}

/*------------------ADD CLASS JS FOR CLOSE MENU------------------*/
.js-search__open {
  width: 100%;
  padding: 0 0.625rem 0 0;
}

/*------------------HEADER------------------*/
/*------------------MAIN------------------*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.start__section {
  position: relative;
  width: 100%;
  background-color: #f7f7f8;
  z-index: 0;
  padding: 5rem 0;
}
.start__section::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  display: block;
  width: 30vw;
  height: 100%;
  background-color: #60c0c3;
}
@media (max-width: 600px) {
  .start__section::after {
    width: 100vw;
    height: 30%;
  }
}

.start__container {
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 600px) {
  .start__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.start__block {
  width: 50%;
}
@media (max-width: 600px) {
  .start__block {
    width: 100%;
  }
}
.start__block h1 {
  font-weight: 600;
  color: #003154;
  font-size: clamp(1.4375rem, 2.68vw, 2.0625rem);
  line-height: 116%;
  padding: clamp(0.5rem, 1.3vw, 1rem) 0;
}
.start__block p {
  font-weight: 400;
  font-size: clamp(0.9375rem, 1.46vw, 1.125rem);
  line-height: 162%;
  color: #404040;
}
.start__block a {
  margin-top: clamp(2rem, 4.55vw, 3.5rem);
  display: block;
  font-family: "Golos";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 148%;
  color: #003154;
  padding: 0.75rem clamp(2.375rem, 4.72vw, 3.625rem);
  border: 0.0625rem solid #003154;
  border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  -ms-border-radius: 0.125rem;
  -o-border-radius: 0.125rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.start__block-icon {
  gap: clamp(0.625rem, 1.3vw, 1rem);
}

.start__icon-img {
  width: 2.5rem;
  height: 2.5rem;
}
@media (max-width: 1230px) {
  .start__icon-img {
    width: calc(
    1.5rem + (40 - 24) * ((100vw - 320px) /
          (1230 - 320))
  );
    height: calc(
    1.5rem + (40 - 24) * ((100vw - 320px) /
          (1230 - 320))
  );
  }
}
.start__icon-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__item-img {
  max-width: 36.75rem;
  max-height: 27.5rem;
}
.slider__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 27.5rem;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100vw;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  transform: translateX(-50vw);
  -webkit-transform: translateX(-50vw);
  -moz-transform: translateX(-50vw);
  -ms-transform: translateX(-50vw);
  -o-transform: translateX(-50vw);
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  border: 0;
  outline: none;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  outline: none;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 1.5625rem;
  line-height: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #a0a0a0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 600px) {
  .slick-dots {
    width: 100%;
    bottom: -20px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.dots-mobile {
  display: block;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #003154;
  font-size: 2.5rem;
}

/*------------------MAIN------------------*/
/*------------------FOOTER------------------*/
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/*------------------FOOTER------------------*/